page {
  background-color: #eee;
  .fb-main {
    padding: 20rpx;
    color: #666;
    &__tips {
      display: flex;
      flex-wrap: wrap;
      text {
        width: 30%;
        padding: 10rpx;
        text-align: center;
        background-color: #fff;
        margin: 20rpx 10rpx;
      }
    }
    .fb-content {
      background-color: #fff;
      margin-top: 20rpx;
      textarea {
        padding: 10rpx;
      }
      &__tool {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30rpx;
        button {
          margin: 0;
          width: 90rpx;
          height: 90rpx;
          font-size: 60rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20rpx;
          margin-left: 20rpx;
          color: #ccc;
        }
        .up-img-item {
          margin-left: 20rpx;
          margin-top: 20rpx;
        }
      }
    }
    &__btn-wrap {
      margin-top: 20rpx;
      display: flex;
      justify-content: flex-end;
      button {
        margin: 0;
        width: 30%;
        background-color: #e64340;
        color: #fff;
        icon {
          vertical-align: middle;
        }
      }
    }
  }
}